<div class="modal-header">
  <h4 class="modal-title">Khách trả lời</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item"
      *ngFor="let item of customerAnswers; let i = index"
    >
      <div class="row">
        <div class="col-3">Lần {{ i + 1 }}:</div>
        <div class="col-9">
          <span class="me-2">{{ item.customerReply }}</span>
          <span *ngIf="item.note == 'CorrectAnswer'" style="color: #4caf50"
            >Đúng</span
          >
          <span *ngIf="item.note == 'WrongAnswer'" style="color: #cb2027"
            >Sai</span
          >
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-light"
    (click)="activeModal.close('Close click')"
  >
    Đóng
  </button>
</div>
