<div class="modal-header">
    <h4 class="modal-title pull-left">Bạn chắc chắn muốn xóa {{title}} này?</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col p-3">
        Thao tác này sẽ xóa các {{title}} bạn đã chọn. Thao tác này không thể khôi
        phục
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="bsModalRef.hide()"
    >
      Thoát
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteQuest(id)">
      Xóa
    </button>
    <!-- <button type="button" class="btn btn-danger" (click)="submit$.next()">
      Xóa
    </button> -->
  </div>
  