<div class="modal-header">
    <h4 class="modal-title pull-left">Bạn chắc chắn muốn {{status=='Inactive'?'ngừng hoạt động':'hoạt động lại'}} {{title}} này?</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col p-3">
        Thao tác này sẽ {{status=='Inactive'?'ngừng hoạt động':'hoạt động lại'}} {{title}} này.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-{{status=='Inactive' ? 'danger':'primary'}}"
      (click)="bsModalRef.hide()"
    >
      Thoát
    </button>
    <button type="button"class="btn {{status=='Inactive' ? 'btn-danger':'btn-primary'}}" (click)="updateStatus(id,status)">
      Lưu
    </button>
  </div>
  