* {
    font-family: 'Roboto', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .panel {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 485px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .panel-top {
    top: 0;
  }

  .panel-bottom {
    bottom: 1rem;
  }

  .btn {
    border-radius: 1rem;
    line-height: 1.7rem;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 0.2rem 1.8rem;
    margin: 0.4rem 0.2rem;
    outline: none;
  }

  .btn-icon {
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
  }

  .btn-blue {
    background-color: #0055a9;
  }

  .btn-light {
    background-color: #fff;
    color: #0055a9;
  }

  .btn-red {
    background-color: #e44848;
  }

  .btn-yellow {
    background-color: #ffa84e;
  }

  .btn-green {
    background-color: #76c9a5;
  }

  .text-red {
    color: #e44848;
  }

  .fas {
    padding-right: 3px;
  }

  .search-bar .fas {
    padding-right: 0px;
  }

  .flag {
    width: 2.4rem;
    height: auto;
    margin-bottom: -9px;
  }

  .search-bar input {
    line-height: inherit;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 35px 10px 10px;
    background-color: white;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    width: 21rem;
  }

  .data-num {
    font-size: 1rem;
  }