<div class="container py-3">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <div class="card mb-2">
          <div class="card-header bg-white">Thông tin chung</div>
          <div class="card-body pb-0">
            <div class="row mb-1">
              <div class="col-4">
                <div class="form-group">
                  <label class="form-label" for="name">Tên địa điểm</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': form?.hasError('name') }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="form.hasErrorOf('name', 'required')"
                  >
                    Tên của địa điểm không được để trống
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="name?.errors?.['nameAlreadyExists']"
                  >
                    Tên của địa điểm đã tồn tại.
                  </div>
                </div>
              </div>
              <div class="col-8">
                <div class="form-group">
                  <label class="form-label" for="address">Địa chỉ</label>
                  <div class="input-group mb-1">
                    <input
                      placeholder="Dùng ô search bên dưới để tìm kiếm địa điểm"
                      type="text"
                      class="form-control"
                      aria-label="address"
                      id="address"
                      formControlName="address"
                      [ngClass]="{ 'is-invalid': form?.hasError('address') }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('address', 'required')"
                    >
                      Địa chỉ không được để trống
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body pb-0">Chọn địa điểm</div>
          <div class="card-body">
            <div class="row mb-4">
              <div id="map" class="col-8" style="height: 400px"></div>
              <div class="col-4">
                <div class="card mb-3">
                  <!-- <div class="card-header bg-white py-3">Thông tin thêm</div> -->
                  <div class="card-body">
                    <div class="form-group mb-3">
                      <label for="locationTypeId" class="form-label"
                        >Chọn loại địa điểm</label
                      >
                      <ng-select
                        [items]="locationTypeIds$ | async"
                        bindValue="id"
                        bindLabel="value"
                        class="header-p-0"
                        formControlName="locationTypeId"
                        [ngClass]="{
                          'is-invalid': form?.hasError('locationTypeId')
                        }"
                      >
                        <ng-template ng-header-tmp>
                          <button
                            class="btn btn-default btn-sm rounded-0 text-center w-100"
                            (click)="showAddLocationType()"
                          >
                            <i class="bi bi-plus-circle"></i>
                            Thêm loại địa điểm
                          </button>
                        </ng-template></ng-select
                      >
                      <div
                        class="invalid-feedback"
                        *ngIf="form.hasErrorOf('locationTypeId', 'required')"
                      >
                        Vui lòng chọn loại địa điểm
                      </div>
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('status', 'required')"
                    >
                      Vui lòng chọn trạng thái
                    </div>
                    <div class="form-group mb-3">
                      <label for="areaId" class="form-label"
                        >Chọn khu vực</label
                      >
                      <ng-select
                        [items]="areaIds$ | async"
                        bindValue="id"
                        bindLabel="value"
                        class="header-p-0"
                        formControlName="areaId"
                        [ngClass]="{ 'is-invalid': form?.hasError('areaId') }"
                      >
                        <ng-template ng-header-tmp>
                          <button
                            class="btn btn-default btn-sm rounded-0 text-center w-100"
                            (click)="showAddArea()"
                          >
                            <i class="bi bi-plus-circle"></i>
                            Thêm khu vực
                          </button>
                        </ng-template>
                      </ng-select>
                      <div
                        class="invalid-feedback"
                        *ngIf="form.hasErrorOf('areaId', 'required')"
                      >
                        Vui lòng chọn khu vực
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-body">
                    <!-- <div class="d-flex align-items-end justify-content-between"> -->
                    <!-- <div>
                        <span>Trạng thái</span>
                        <div>Áp dụng</div>
                      </div>
                      <div class="form-check form-switch mb-0">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          role="switch"
                          id="status"
                          formControlName="status"
                        />
                        <label class="form-check-label" for="status"></label>
                      </div> -->
                    <label for="status" class="form-label">Trạng thái</label>
                    <ng-select
                      [items]="status"
                      bindValue="value"
                      bindLabel="value"
                      placeholder="Chọn trạng thái"
                      [clearable]="false"
                      formControlName="status"
                      [ngClass]="{ 'is-invalid': form?.hasError('status') }"
                    ></ng-select>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('status', 'required')"
                    >
                      Vui lòng chọn trạng thái
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="toggleDescription$.next()"
              >
                Mô tả địa điểm
              </button>
              <div *rxLet="vm$ as vm" class="mt-3">
                <div *ngIf="vm.showLocationDescription">
                  <quill-editor
                    [styles]="{ height: '200px' }"
                    formControlName="description"
                  ></quill-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a routerLink="../" class="btn btn-outline-primary mt-3 me-2">Thoát</a>
        <button
          type="button"
          class="btn btn-primary mt-3"
          [disabled]="submitting$ | async"
          (click)="submit$.next({form,redirect:true})"
        >
          {{ (submitting$ | async) ? "Lưu ..." : "Lưu" }}
        </button>
      </div>
    </div>
  </form>
</div>
