<div id="{{ user.User }}" class="card chat-box">
  <div class="card-header">
    <div class="d-flex">
      <div class="mr">
        <img src="./assets/user.png" alt="" class="rounded-circle img-person" />
      </div>
      <div>
        <span
          style="
            font-size: 1.1rem;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    color: #747c87;
          "
          >&nbsp; Khách hàng</span
        >
        <div class="text-muted" style="text-overflow: ellipsis;">
          &nbsp;&nbsp;{{ user.User }}
        </div>
      </div>
      <div class="child-right" >
        <a
          class="mr btn"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          style="cursor: pointer;"
          aria-controls="collapseChatBox"
          ><i class="bi bi-dash" style="color: #747c87; cursor: pointer;"></i
        ></a>
        <a class="mr" (click)="closeBoxChat()"
        style="cursor: pointer;"
          ><i class="bi bi-x-lg" style="color: #747c87; cursor: pointer;"></i
        ></a>
      </div>
    </div>
  </div>
  <div [collapse]="isCollapsed" [isAnimated]="true" id="collapseChatBox">
    <div class="card-body">
      <ul
        #scrollMe
        [scrollTop]="scrollMe.scrollHeight"
        class="chat chat-frame"
        (scroll)="onScroll($event)"
        style="height: 350px"
      >
        <li
          class="pd-5"
          *ngFor="let message of messageService.messageThread$ | async"
        >
          <ng-container *ngIf="isTrue(message.User, user.User)">
            <div
              [ngClass]="message.User === user.User ? 'd-flex' : 'parent-sent'"
            >
              <div
                class="message-body"
                [class.message-send]="message.User === user.User"
              >
                <div>{{ message.Message }}</div>
              </div>
            </div>
          </ng-container>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <form
        #messageForm="ngForm"
        (ngSubmit)="sendMessage(user.ConId)"
        autocomplete="off"
      >
        <div class="input-group">
          <input
            type="text"
            name="messageContent"
            required
            [(ngModel)]="messageContent"
            class="form-control input-sm"
            placeholder="Nhập tin nhắn..."
            (focus)="onFocusEvent($event)"
          />
          <div class="input-group-append">
            <button
              [disabled]="!messageForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              Gửi
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
