<div class="container py-3" *rxLet="vm$ as vm">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-8">
        <div class="card mb-3">
          <div class="card-header bg-white py-3">Thông tin chung</div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label class="form-label" for="title">Tên quest</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tên quest tiếng việt | tiếng anh"
                id="title"
                formControlName="title"
                [ngClass]="{ 'is-invalid': form.hasError('title') }"
              />
              <div
                class="invalid-feedback"
                *ngIf="form.hasErrorOf('title', 'required')"
              >
                Tên quest bắt buộc
              </div>
              <div
                class="invalid-feedback"
                *ngIf="form.hasErrorOf('title', 'minlength')"
              >
                Độ dài tên ít nhất 8 kí tự
              </div>
              <small
                id="title"
                class="form-text text-muted"
                *ngIf="form?.hasValue('title')"
                >Dùng | để phân cách nếu thêm tên tiếng anh
              </small>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="price">Giá tiền</label>
                  <div class="input-group mb-3">
                    <input
                      type="number"
                      class="form-control"
                      id="price"
                      formControlName="price"
                      [ngClass]="{ 'is-invalid': form.hasError('price') }"
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        style="width: 50px !important"
                        >vnđ</span
                      >
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('price', 'required')"
                    >
                      Giá tiền bắt buộc
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('price', 'min')"
                    >
                      Giá lớn hơn 10
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="estimatedTime"
                    >Thời gian dự tính</label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="number"
                      class="form-control"
                      aria-label="estimatedTime"
                      id="estimatedTime"
                      formControlName="estimatedTime"
                      [ngClass]="{
                        'is-invalid': form.hasError('estimatedTime')
                      }"
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        style="width: 50px !important"
                        >phút</span
                      >
                    </div>

                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('estimatedTime', 'required')"
                    >
                      Thời gian dự tính bắt buộc
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="availableTime"
                    >Thời gian hoạt động</label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="availableTime1"
                      placeholder="07:00"
                      formControlName="availableTime1"
                      [ngClass]="{
                        'is-invalid': form.hasError('availableTime1')
                      }"
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        style="width: 50px !important"
                        >AM</span
                      >
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      id="availableTime2"
                      placeholder="07:00"
                      formControlName="availableTime2"
                      [ngClass]="{
                        'is-invalid': form.hasError('availableTime2')
                      }"
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        style="width: 50px !important"
                        >PM</span
                      >
                    </div>
                    <input
                      type="hidden"
                      class="form-control"
                      id="availableTime"
                      formControlName="availableTime"
                      [ngClass]="{
                        'is-invalid': form.hasError('availableTime')
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('availableTime1', 'required')"
                    >
                      Thời gian bắt đầu bắt buộc
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('availableTime1', 'pattern')"
                    >
                      Thời gian bắt từ 07:00 AM đến 12:00 AM
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('availableTime2', 'required')"
                    >
                      Thời gian kết thúc bắt buộc
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('availableTime2', 'pattern')"
                    >
                      Thời gian kết thúc từ 01:00 PM đến 07:00 PM
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="estimatedDistance"
                    >Khoảng cách ước tính</label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="number"
                      class="form-control"
                      id="estimatedDistance"
                      formControlName="estimatedDistance"
                      [ngClass]="{
                        'is-invalid': form.hasError('estimatedDistance')
                      }"
                    />
                    <div class="input-group-append">
                      <span
                        class="input-group-text"
                        style="width: 50px !important"
                        >km</span
                      >
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="form.hasErrorOf('estimatedDistance', 'required')"
                    >
                      Khoảng cách ước tính bắt buộc
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              (click)="toggleDescription$.next()"
            >
              Mô tả quest
            </button>
            <div class="mt-3" *ngIf="vm.showQuestDescription">
              <quill-editor
                [styles]="{ height: '200px' }"
                formControlName="description"
                placeholder="Dùng | để phân cách nếu thêm mô tả tiếng anh"
              >
              </quill-editor>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex bg-white border-bottom-0 mb-3 p-0 px-0">
              <div>Ảnh quest</div>
              <div class="flex-fill"></div>
              <!-- <div class="me-3" style="color: #0d6efd">
                <p
                  (click)="deleteImage()"
                >
                  Xóa ảnh
                </p>
              </div> -->
            </div>
            <div
              class="border rounded text-center"
              style="border-style: dashed !important"
            >
              <div
                class="custom-dropzone"
                style="border: none; height: 150px"
                ngx-dropzone
                [accept]="'image/*'"
                [multiple]="false"
                (change)="selectedFile$.next($event.addedFiles)"
              >
                <div
                  style="
                    display: flex;
                    justify-content: center;
                    color: #333;
                    cursor: pointer;
                  "
                >
                  <!-- <span><i class="bi bi-x-circle-fill"></i></span> -->
                </div>
                <ngx-dropzone-label>
                  <div>
                    <i class="bi bi-plus"></i>
                    <span>kéo và thả hình ảnh ở đây hoặc</span>
                    <span class="ms-1 text-decoration-underline text-primary">
                      tải lên từ máy tính của bạn</span
                    >
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview
                  ngProjectAs="ngx-dropzone-preview"
                  *ngFor="let f of vm.files"
                  [file]="f"
                  [removable]="true"
                  (removed)="removedFiles$.next(f)"
                >
                </ngx-dropzone-image-preview>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-3">
          <!-- <div class="card-header bg-white py-3">Thông tin thêm</div> -->
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="questTypeId" class="form-label"
                >Chọn loại quest</label
              >
              <ng-select
                [items]="questTypeIds | async"
                bindValue="id"
                bindLabel="value"
                formControlName="questTypeId"
                class="header-p-0"
                [ngClass]="{
                  'is-invalid': form.hasError('questTypeId')
                }"
              >
                <ng-template ng-header-tmp>
                  <button
                    class="btn btn-default btn-sm rounded-0 text-center w-100"
                    (click)="showAddQuestType()"
                  >
                    <i class="bi bi-plus-circle"></i>
                    Thêm loại quest
                  </button>
                </ng-template></ng-select
              >
              <div
                class="invalid-feedback"
                *ngIf="form.hasErrorOf('questTypeId', 'required')"
              >
                Loại quest bắt buộc
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="areaId" class="form-label">Chọn khu vực</label>
              <ng-select
                [items]="areaIds$ | async"
                bindValue="id"
                bindLabel="value"
                class="header-p-0"
                formControlName="areaId"
                [ngClass]="{ 'is-invalid': form.hasError('areaId') }"
              >
                <ng-template ng-header-tmp>
                  <button
                    class="btn btn-default btn-sm rounded-0 text-center w-100"
                    (click)="showAddArea()"
                  >
                    <i class="bi bi-plus-circle"></i>
                    Thêm khu vực
                  </button>
                </ng-template>
              </ng-select>
              <div
                class="invalid-feedback"
                *ngIf="form.hasErrorOf('areaId', 'required')"
              >
                Khu vực bắt buộc
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <label for="status" class="form-label">Trạng thái</label>
            <ng-select
              [items]="status"
              bindValue="value"
            bindLabel="id"
              placeholder="Chọn trạng thái"
              [clearable]="false"
              formControlName="status"
              [ngClass]="{ 'is-invalid': form.hasError('status') }"
            ></ng-select>
            <div
              class="invalid-feedback"
              *ngIf="form.hasErrorOf('status', 'required')"
            >
              Trạng thái bắt buộc
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="mb-3">
          <div class="btn-group" dropdown>
            <button
              type="button"
              class="btn btn-primary"
              (click)="submit$.next({form,redirect:true})"
            >
              Thêm
            </button>
            <button
              id="button-split"
              type="button"
              dropdownToggle
              class="btn btn-primary dropdown-toggle dropdown-toggle-split"
              aria-controls="dropdown-split"
            >
              <span class="caret"></span>
              <span class="sr-only visually-hidden">toggle</span>
            </button>
            <ul
              id="dropdown-split"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-split"
            >
              <li role="menuitem">
                <button
                  class="dropdown-item"
                  type="button"
                  (click)="submit$.next({form,redirect:false})"
                >
                  Thêm và reset form
                </button>
              </li>
            </ul>
          </div>
          <a routerLink="../" class="btn btn-outline-primary ms-3">Thoát</a>
        </div>
      </div>
    </div>
  </form>
</div>
