<div class="container py-3">
  <form>
    <!-- <div class="mb-3">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary">SAVE AND GOTO</button>
        <button
          id="button-split"
          type="button"
          dropdownToggle
          class="btn btn-primary dropdown-toggle dropdown-toggle-split"
          aria-controls="dropdown-split"
        >
          <span class="caret"></span>
          <span class="sr-only visually-hidden">toggle</span>
        </button>
        <ul
          id="dropdown-split"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-split"
        >
          <li role="menuitem">
            <button class="dropdown-item" type="button">SAVE AND RESSET</button>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="row">
      <div class="col-8">
        <div class="card mb-3">
          <div class="card-header bg-white py-3">Thông tin chung</div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label class="form-label" for="title">Tên quest</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tên quest"
                id="title"
              />
              <!-- <div class="invalid-feedback" *ngIf="hasError('productName')"> -->
              <!-- <div class="invalid-feedback" *ngIf="form?.errorOf('productName')"> -->
              <div class="invalid-feedback">Tên quest bắt buộc</div>
              <!-- <div class="invalid-feedback">
                  Product name must be at least 10 characters
                </div> -->
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="price">Giá tiền</label>
                  <input type="number" class="form-control" id="price" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="estimatedTime"
                    >Thời gian dự tính</label
                  >
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      aria-label="estimatedTime"
                      id="estimatedTime"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="form-label" for="availableTime"
                    >Thời gian hoạt động</label
                  >
                  <input type="text" class="form-control" id="availableTime" />
                </div>
              </div>
            </div>
            <div
              type="button"
              style="color: #0088ff; font-weight: 400; line-height: 20px"
            >
              Mô tả quest
            </div>
            <div class="mt-3">
              <quill-editor [styles]="{ height: '200px' }"></quill-editor>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-3">
          <div class="card-header bg-white py-3">Thông tin thêm</div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="questTypeId" class="form-label">Loại quest</label>
              <ng-select [items]="[1, 2, 3, 4]"></ng-select>
            </div>
            <div class="form-group mb-3">
              <label for="areaId" class="form-label">Chọn khu vực</label>
              <ng-select [items]="[1, 2, 3, 4]"></ng-select>
            </div>
            <!-- <div class="form-group">
                <label for="tags" class="form-label">Tags</label>
                <textarea
                  rows="3"
                  class="form-control"
                ></textarea>
              </div> -->
          </div>
        </div>
        <!-- additional info -->
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex align-items-end justify-content-between">
              <div>
                <span>Trạng thái</span>
                <div>Áp dụng</div>
              </div>
              <div class="form-check form-switch mb-0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="status"
                />
                <label class="form-check-label" for="status"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-primary">Lưu</button>
      </div>
    </div>
    <!-- row -->
  </form>
</div>
