$aside-bg:#202d3f;
$aside-color:#cad6e2;
$aside-w:230px;
$aside-icon: 24px;
$master-bg: #f0f1f1;
.master{
    min-height: 100vh;
    background: $master-bg;
    .aside{
        background: $aside-bg;
        color: $aside-color;
    }
    .main-container{
        height: 100vh;
        overflow: auto;
    }
}

.aside{
    a{
        text-decoration: none;
        color: inherit;
        display: block;
        max-width: 230px;
        // width: 230px;
        width: $aside-w;
        // border: 1px solid black;
        // padding: 10px 20px 10px 60px;
        padding: 10px;
        // padding-left: 60px;
        &:hover{
            color: #fff;
            background-color: hsl(215deg 33% 24%);
        }
    }
    .divider{
        padding: 10px;
        // padding-left: 60px;
        padding-left: 20px;
        position: relative;
        .bi {
            /* border: 1px solid; */
            position: absolute;
            left: 1rem;
            width: $aside-icon;
            height: $aside-icon;
            font-size: $aside-icon;
            line-height: $aside-icon;
            // width: 24px;
            // height: 24px;
            // font-size: 24px;
            // line-height: 24px;
            top: 8px;
        }
    }
}

