<div class="d-flex master">
    <aside class="aside overflow-hidden" style="width: 225px">
    <h2 class="mb-0">
      <a class="border-bottom border-secondary branding px-4 text-white"
        >Touristapp
      </a>
    </h2>
    <nav class="menu">
      <a routerLink="./quest" class="divider">Quests</a>
      <ul class="list-unstyled ms-4">
        <li><a routerLink="./quest" class="divider">Quest</a></li>
        <li><a routerLink="./quest-type" class="divider">QuestType</a></li>
        <li><a routerLink="./quest-item-type" class="divider">QuestItemType</a></li>
        <li><a routerLink="./customer-task" class="divider">Customer Task</a></li>
      </ul>
      <div>
        <a routerLink="./city" class="divider">SPOT </a>
      <ul class="list-unstyled ms-4">
        <li><a routerLink="./city" class="divider">City</a></li>
        <li><a routerLink="./area" class="divider">Area</a></li>
        <li><a routerLink="./location" class="divider">Location</a></li>
        <li><a routerLink="./location-type" class="divider">LocationType</a></li>
        
      </ul>
      </div>
      <a routerLink="./quest" class="divider">ACCOUNT MANAGEMENT</a>
      <ul class="list-unstyled ms-4">
        <li><a routerLink="./quest" class="divider">Users</a></li>
        <li><a routerLink="./quest" class="divider">QuestOwner</a></li>
      </ul>
      <a routerLink="./quest" class="divider">CONFIGURATION</a>
      <ul class="list-unstyled ms-4">
        <li><a routerLink="./quest" class="divider">Role</a></li>
      </ul>
    </nav>
  </aside>
  <!-- <main class="flex-fill "> -->
  <main class="flex-fill main-container">
    <!-- <header
      class="header"
      style="height: 52px; top: 0; z-index: 10"
      class="bg-white shadow-sm position-sticky"
    ></header> -->
    <app-navbar></app-navbar>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
