<div class="d-flex master">

  <!-- <aside class="aside"> -->
  <aside class="aside overflow-hidden" style="width: 225px;"> <!--#23-->
      <h2 class="mb-0">
        <!-- <a [routerLink]="['/admin']" class="border-bottom border-secondary branding px-4">CTDT</a>       -->
        <a  class="border-bottom border-secondary branding px-4 text-white">Admin </a>      
      </h2>
    <!-- <nav class="h-100 menu"> -->
    <nav class="menu"><!--#23-->
      <div class="divider">Tổng quan</div>      
      <a routerLink="./quest" class="divider">Quest</a>
      <div class="divider"><i class="bi bi-plus"></i> THANH TOÁN</div>      
      <!-- <a [routerLink]="['./','products']">Products</a> -->
      <a>KHU VỰC</a>
      <a href="#">KHÁCH HÀNG</a>
      <a href="#">THÀNH PHỐ</a>
      <a href="#">CÀI ĐẶT</a>
    </nav>
  </aside>
  <!-- <main class="flex-fill "> -->
  <main class="flex-fill main-container">
    <header
      class="header"
      style="height: 52px; top: 0; z-index: 10;"
      class="bg-white shadow-sm position-sticky"
    ></header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
