<header
  class="header"
  style="height: 52px; top: 0; z-index: 10"
  class="align-items-center bg-white d-flex justify-content-center p-4 position-sticky shadow-sm"
>
  <a
    routerLink="{{ pageUrl }}"
    style="
      font-size: 1rem;
      font-weight: 500;
      line-height: 20px;
      text-decoration: none;
      color: #747c87;
    "
  >
    <ng-container *ngIf="pageTitle.includes('Quay lại')">
      <i class="bi bi-chevron-left"></i>
    </ng-container>
    {{ pageTitle }}
  </a>
  <div class="flex-fill"></div>

  <nav class="header-nav ms-auto" *rxLet="notification$ as vm">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <!-- End Search Icon-->

      <li class="nav-item dropdown">
        <a
          class="nav-link nav-icon show"
          style="cursor: pointer"
          data-bs-toggle="dropdown"
          aria-expanded="true"
          (click)="isReadNotify()"
        >
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">{{ vm.length }}</span> </a
        ><!-- End Notification Icon -->
        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
          [ngClass]="{ show: isShow }"
          style="
            position: absolute;
            inset: 0px 0px auto auto;
            margin: 0px;
            transform: translate(0.1875px, 48px);
          "
          data-popper-placement="bottom-end"
        >
          <li class="dropdown-header">
            Bạn có {{ vm.length }} thông báo mới
            <a href="./notification"
            routerLink="./notification"
              ><span class="badge rounded-pill bg-primary p-2 ms-2"
                >Xem thêm</span
              ></a
            >
          </li>
          <ng-container *ngFor="let x of vm; let i = index">
            <ng-container *ngIf="i < 5">
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li class="notification-item">
                <i class="bi bi-info-circle text-primary"></i>
                <div>
                  <p>{{ x.content }}</p>
                  <p>{{ x.createdDate | date: "dd/MM/yyyy, h:mm a" }}</p>
                </div>
              </li>
            </ng-container>
          </ng-container>
          <!-- <ng-container *ngFor="let x of notications">
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dạng thông báo</h4>
                <p>{{ x.content }}</p>
                <p>{{ x.createdDate | date: "dd/MM/yyyy, h:mm a" }}</p>
              </div>
            </li>
          </ng-container> -->
          <!-- <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown-footer">
            <a href=".admin/payment">Xem tất cả thông báo</a>
          </li> -->
        </ul>
        <!-- End Notification Dropdown Items -->
      </li>
      <!-- End Notification Nav -->

      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0 show"
          data-bs-toggle="dropdown"
          style="cursor: pointer"
          aria-expanded="true"
          (click)="changeShow1()"
        >
          <!-- <img
            src="assets/img/profile-img.jpg"
            alt="Profile"
            class="rounded-circle"
          /> -->
          <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span> </a
        ><!-- End Profile Iamge Icon -->

        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
          [ngClass]="{ show: isShow1 }"
          style="
            position: absolute;
            inset: 0px 0px auto auto;
            margin: 0px;
            transform: translate(-16px, 54px);
          "
          data-popper-placement="bottom-end"
        >
          <li (click)="exit()">
            <a class="dropdown-item d-flex align-items-center">
              <i class="bi bi-box-arrow-right"></i>
              <span>Thoát</span>
            </a>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
    </ul>
  </nav>
  <!-- </div> -->
</header>
