.header-nav .nav-icon {
    font-size: 20px;
    color: #012970;
}

.header-nav > ul {
    margin: 0;
    padding: 0;
}
.header-nav ul {
    list-style: none;
}
.align-items-center {
    align-items: center!important;
}

.d-flex {
    display: flex!important;
}