<div class="modal-header">
  <h5 class="modal-title pull-left">{{ type }} {{ title }}</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group" [ngClass]="{ col: !simpleForm }">
      <input type="hidden" formControlName="id" />
      <label for="name" class="form-label">Tên {{ title }} </label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        [ngClass]="{ 'is-invalid': form?.hasError('name') }"
      />
      <div class="invalid-feedback" *ngIf="form.hasErrorOf('name', 'required')">
        Tên của thành phố không được để trống
      </div>
      <ng-container *ngIf="!id">
        <div
          class="invalid-feedback"
          *ngIf="name?.errors?.['nameAlreadyExists']"
        >
          Tên của thành phố đã tồn tại.
        </div>
      </ng-container>
    </div>
    <div
      class="form-group"
      [ngClass]="{ col: !simpleForm }"
      *ngIf="!simpleForm"
    >
      <label for="status" class="form-label">Trạng thái</label>
      <ng-select
        [items]="status"
        bindValue="name"
        bindLabel="name"
        placeholder="Chọn trạng thái"
        [clearable]="false"
        formControlName="status"
        [ngClass]="{ 'is-invalid': form?.hasError('status') }"
      ></ng-select>
      <div
        class="invalid-feedback"
        *ngIf="form.hasErrorOf('status', 'required')"
      >
        Vui lòng chọn trạng thái
      </div>
    </div>
    <div
      *ngIf="hasError$ | async"
      class="d-block p-2 bg-danger text-white p-2 mb-2 mt-3 text-center"
    >
      Giá trị nhập không hợp lệ! Hãy kiểm tra lại
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary custom"
    (click)="bsModalRef.hide()"
  >
    Thoát
  </button>
  <button
    type="button"
    class="btn btn-primary custom"
    [disabled]="submitting$ | async"
    (click)="submit$.next(form)"
  >
    {{ (submitting$ | async) ? "Lưu ..." : "Lưu" }}
  </button>
</div>
