<router-outlet></router-outlet>
<div class="bg-white m-3 p-3 rounded">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="flex-fill"></div>
    <!-- <button type="button" class="btn btn-primary" style="min-width:120px;">
      <i class="bi bi-plus"></i> Thêm vị trí
    </button> -->
    <a
      [routerLink]="['./create']"
      class="btn btn-primary"
      style="min-width: 120px"
    >
      <i class="bi bi-plus"></i> Thêm vị trí
    </a>
  </div>

  <div class="p-3 rounded bg-white">
    <form [formGroup]="searchForm" class="mb-4">
      <div class="d-flex">
        <div class="input-group me-3">
          <span class="input-group-text bg-white border-end-0" id="search-icon"
            ><i class="bi bi-search"></i
          ></span>
          <input
            type="text"
            class="border-start-0 form-control outline-none"
            placeholder="Tìm kiếm vị trí"
            aria-label="Tìm kiếm vị trí"
            aria-describedby="search-icon"
            formControlName="keyword"
          />
        </div>
        <ng-select
          [items]="locationTypeIds$ | async"
          bindValue="id"
          bindLabel="value"
          placeholder="Loại vị trí"
          [clearable]="false"
          [closeOnSelect]="true"
          style="min-width: 150px"
          class="me-3"
          formControlName="locationTypeIds"
        ></ng-select>
        <ng-select
          [items]="areaIds$ | async"
          bindValue="id"
          bindLabel="value"
          [closeOnSelect]="true"
          [multiple]="false"
          style="min-width: 150px"
          placeholder="Chọn khu vực"
          class="me-3"
          formControlName="areaIds"
        ></ng-select>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary"
            style="min-width: 120px"
            (click)="submitSearch$.next(searchForm.value)"
          >
            <i class="bi bi-search"></i>
            Tìm kiếm
          </button>
          <button
            type="button"
            class="btn btn-default"
            style="min-width: 100px"
            (click)="resetSearch$.next()"
          >
            <i class="bi bi-x-lg"></i>
            Reset
          </button>
        </div>
      </div>
    </form>
    <!-- table -->
    <div class="border overflow-hidden rouded shadow-sm">
      <ngx-datatable
        class="material rounded"
        [rows]="locations$ | async"
        [columns]="columns"
        columnMode="force"
        [headerHeight]="50"
        [loadingIndicator]="(loading$ | async) === true"
        [footerHeight]="50"
        [rowHeight]="50"
        [externalPaging]="true"
        [externalSorting]="true"
        [messages]="{
          emptyMessage: 'Không có vị trí để hiển thị!',
          totalMessage: 'vị trí'
        }"
        [count]="(metadata$ | async)?.totalCount || 0"
        [offset]="((metadata$ | async)?.currentPage || 0) - 1"
        [limit]="10"
        (page)="onPage($event)"
        (sort)="onSort($event)"
      >
      </ngx-datatable>
    </div>
  </div>
</div>
