<div class="pt-3 px-5">
  <div class="bg-white my-3 p-3 rounded">
    <div class="rounded bg-white">
      <form class="mb-4" [formGroup]="searchFormComment">
        <div class="d-flex">
          <!-- <div class="input-group me-3">
            <span
              class="input-group-text bg-white border-end-0"
              id="search-icon"
              ><i class="bi bi-search"></i
            ></span>
            <input
              type="text"
              class="border-start-0 form-control outline-none"
              placeholder="Tìm kiếm phản hồi theo thư điện tử"
              aria-label="Tìm kiếm phản hồi theo thư điện tử"
              aria-describedby="search-icon"
              formControlName="keyword"
              (keyup.enter)="searchComment$.next(searchFormComment.value)"
            />
          </div> -->
          <ng-select
            [items]="status"
            bindValue="value"
            bindLabel="id"
            style="width: 300px"
            placeholder="Chọn trạng thái"
            class="me-3"
            formControlName="isFeedbackApproved"
            (change)="searchComment$.next(searchFormComment.value)"
          ></ng-select>
          <!-- <button
            type="button"
            class="btn btn-primary"
            style="min-width: 120px"
            (click)="submitSearchComment$.next(searchForm.value)"
          >
            <i class="bi bi-search"></i>
            Tìm kiếm
          </button> -->
          <button
            type="button"
            class="btn btn-default"
            style="min-width: 100px; background-color: #c1d8f3;"
            (click)="resetSearchComment$.next()"
          >
            <i class="bi bi-x-lg"></i>
            Reset
          </button>
        </div>
      </form>
      <div class="border overflow-hidden rouded shadow-sm">
        <ngx-datatable
          class="material rounded"
          [rows]="comments$ | async"
          [loadingIndicator]="(loading$ | async) === true"
          [columns]="columns"
          columnMode="force"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [externalPaging]="true"
          [externalSorting]="true"
          [messages]="{
            emptyMessage: 'Không có phản hồi để hiển thị!',
            totalMessage: 'phản hồi'
          }"
          [count]="(metadataComment$ | async)?.totalCount || 0"
          [offset]="((metadataComment$ | async)?.currentPage || 0) - 1"
          [limit]="10"
          (page)="onPage($event)"
          (sort)="onSort($event)"
        >
          <ng-template #colCreatedAt let-value="value">
            {{ value | date: "dd/MM/yyyy" }}
          </ng-template>
          <ng-template #statusTemplate let-value="value" let-row="row">
            <span
              [ngStyle]="{
                'background-color':
                  row.isFeedbackApproved == true ? '#4caf50' : '#cb2027',
                color: '#fff',
                transition: '200ms',
                padding: '5px 0px',
                display: 'inline-block',
                'text-align': 'center',
                width: '120px',
                'border-radius': '9px'
              }"
              >{{
                row.isFeedbackApproved == true ? "Đã duyệt" : "Không được duyệt"
              }}</span
            >
          </ng-template>
          <ng-template #actionTemplate let-row="row" let-value="value">
            <button
              class="btn btn-sm me-2"
              style="
                color: #fff;
                background-color: #4caf50;
                border-color: #4caf50;
              "
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              [tooltip]="'Nhấp chuột để duyệt phản hồi'"
              placement="left"
              [disabled]="row.isFeedbackApproved == true ? true : false"
              (click)="approveFeedback(row.id)"
            >
            <i class="bi bi-plus-lg"></i>
            </button>
            <!-- <button
              class="btn btn-sm me-2"
              type="button"
              [ngStyle]="
                row.status == 'InActive'
                  ? {
                      color: '#fff',
                      backgroundColor: '#f44335',
                      borderColor: '#f44335'
                    }
                  : {
                      color: '#fff',
                      backgroundColor: '#f44335',
                      borderColor: '#f44335'
                    }
              "
              data-toggle="tooltip"
              data-placement="left"
              [tooltip]="'Nhấp chuột để ẩn phản hồi'"
              placement="left"
              [disabled]="row.status == 'Inactive' ? true : false"
            >
              <i class="bi bi-dash-circle-fill"></i>
            </button> -->
          </ng-template>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
