.datatable-header-cell {
  display: flex !important;
  align-items: center !important;
}

.datatable-body-cell {
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
}

.datatable-header-cell-template-wrap {
  margin-left: 6px;
}
