<div class="pt-3 px-5">
  <div class="bg-white my-3 p-3 rounded">
    <div class="rounded bg-white">
      <form class="mb-4" [formGroup]="searchForm">
        <div class="d-flex">
          <div class="input-group me-3">
            <span
              class="input-group-text bg-white border-end-0"
              id="search-icon"
              ><i class="bi bi-search"></i
            ></span>
            <input
              type="email"
              class="border-start-0 form-control outline-none"
              placeholder="Nhập email để tìm kiếm customer quest"
              aria-label="Nhập email để tìm kiếm customer quest"
              aria-describedby="search-icon"
              formControlName="keyword"
              (keyup.enter)="search$.next(searchForm.value)"
            />
          </div>
          <ng-select
            [items]="isFinishes"
            bindValue="value"
            bindLabel="id"
            style="min-width: 200px"
            class="me-3"
            formControlName="isFinished"
          ></ng-select>
          <button
            type="button"
            class="btn btn-primary"
            style="min-width: 120px"
            (click)="submitSearch$.next(searchForm.value)"
          >
            <i class="bi bi-search"></i>
            Tìm kiếm
          </button>
          <button
            type="button"
            class="btn btn-default"
            style="min-width: 100px"
            (click)="resetSearch$.next()"
          >
            <i class="bi bi-x-lg"></i>
            Reset
          </button>
        </div>
      </form>
      <div class="border overflow-hidden rouded shadow-sm">
        <ngx-datatable
          class="material rounded"
          [rows]="questtypes$ | async"
          [loadingIndicator]="(loading$ | async) === true"
          [columns]="columns"
          columnMode="force"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [externalPaging]="true"
          [externalSorting]="true"
          [messages]="{
            emptyMessage: 'Không có customer quest hiển thị!',
            totalMessage: 'customer quest'
          }"
          [count]="(metadata$ | async)?.totalCount || 0"
          [offset]="((metadata$ | async)?.currentPage || 0) - 1"
          [limit]="10"
          (page)="onPage($event)"
          (sort)="onSort($event)"
        >
          <ng-template #statusTemplate let-value="value" let-row="row">
            <span
              [ngStyle]="{
                'background-color':
                  row.status == 'Done' ? '#4caf50' : '#cb2027',
                color: '#fff',
                transition: '200ms',
                padding: '5px 0px',
                display: 'inline-block',
                'text-align': 'center',
                width: '120px',
                'border-radius': '9px'
              }"
              >{{
                row.status == "Done" ? "Hoạt động" : "Ngừng hoạt động"
              }}</span
            >
          </ng-template>
          <ng-template #isFinishedTemplate let-value="value" let-row="row">
            <span
              [ngStyle]="{
                'background-color':
                  row.isFinished == true ? '#4caf50' : '#0d6efd',
                color: '#fff',
                transition: '200ms',
                padding: '5px 0px',
                display: 'inline-block',
                'text-align': 'center',
                width: '120px',
                'border-radius': '9px'
              }"
              >{{
                row.isFinished == true ? "Đã kết thúc" : "Đang hoạt động"
              }}</span
            >
          </ng-template>
          <ng-template
            #actionTemplate
            let-row="row"
            let-value="value"
            let-expanded="expanded"
            ngx-datatable-cell-template
          >
            <button
              class="btn btn-sm fs-4"
              type="button"
              style="
                color: #5ec65f;
                background-color: #fff;
                border-color: #dff2eb;
              "
              data-toggle="tooltip"
              data-placement="top"
              [tooltip]="'Nhấp chuột để kết thúc customer quest'"
              placement="left"
              (click)="onForceDelete(row.id, 'true')"
              [disabled]="row.isFinished == true ? true : false"
            >
            <i class="bi bi-check-circle-fill"></i>
            </button>
          </ng-template>
          <ng-template
            #click
            let-row="row"
            let-value="value"
            let-expanded="expanded"
            ngx-datatable-cell-template
          >
            <span (click)="onClick(row.id,row.questId)">{{ value }}</span>
          </ng-template>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <ng-template #colCreatedAt let-value="value">
    {{ value | date: "dd/MM/yyyy, h:mm a" }}
  </ng-template>
</div>
