<div
  class="container"
  style="display: flex; justify-content: center; align-items: center"
>
  <div class="d-block py-5 row" style="width: 40%">
    <div class="bg-white rounded-4 pb-2">
      <div class="d-flex h4 justify-content-center pt-3">Tạo tài khoản</div>
      <form [formGroup]="form">
        <div class="form-group">
          <label class="form-label" for="email">Tài khoản</label>
          <div class="input-group mb-2">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': form.hasError('email') }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form?.hasErrorOf('email', 'required')"
            >
              Tài khoản bắt buộc
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form?.hasErrorOf('email', 'pattern')"
            >
              Định dạng tài khoản email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="role" class="form-label">Quyền</label>
          <ng-select
            [items]="roles"
            bindValue="value"
            bindLabel="id"
            placeholder="Chọn trạng thái"
            [clearable]="false"
            formControlName="role"
            [ngClass]="{ 'is-invalid': form.hasError('role') }"
          ></ng-select>
          <div
            class="invalid-feedback"
            *ngIf="form.hasErrorOf('role', 'required')"
          >
            Quyền bắt buộc
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="password">Mật khẩu</label>
          <div class="input-group mb-2">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': form.hasError('password') }"
            />

            <div
              class="invalid-feedback"
              *ngIf="form.hasErrorOf('password', 'required')"
            >
              Mật khẩu bắt buộc
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="passwordConfirm"
            >Nhập lại mật khẩu</label
          >
          <div class="input-group mb-2">
            <input
              type="password"
              class="form-control"
              id="passwordConfirm"
              formControlName="passwordConfirm"
              [ngClass]="{ 'is-invalid': form.hasError('passwordConfirm') }"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.hasErrorOf('passwordConfirm', 'required')"
            >
              Xác nhận mật khẩu bắt buộc
            </div>
          </div>
        </div>
      </form>
      <div>
        <a routerLink="../" class="btn btn-outline-primary mt-3 me-2">Thoát</a>
        <button
          type="button"
          class="btn btn-primary mt-3"
          [disabled]="submitting$ | async"
          (click)="submit$.next({form,redirect:true})"
        >
          {{ (submitting$ | async) ? "Lưu ..." : "Lưu" }}
        </button>
      </div>
    </div>
  </div>
</div>
