<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-50">
      <form [formGroup]="form" class="col-6">
        <label><h6>Đăng nhập tài khoản</h6></label>
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" class="form-control" formControlName="username" />
        </div>
        <div class="form-group" class="mb-2">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div>
          <!-- <button type="button" class="btn btn-primary" (click)="onSubmit.next()">
            Submit
          </button> -->
          <button type="button" class="btn btn-primary" (click)="submit()">
            Đăng nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
