<section
  class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center"
  style="background-color: #f0f1f1"
>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
      >
        <div class="d-flex justify-content-center py-2">
          <h5 class="logo d-flex align-items-center w-auto">
            <span class="alert-link d-none d-lg-block h2"
              >City Discovery Admin</span
            >
          </h5>
        </div>
        <div class="card mb-3 shadow">
          <div class="card-body" style="width: 400px">
            <div class="pt-2 pb-2">
              <p class="card-title text-center pb-0 fs-4">
                Đăng nhập tài khoản
              </p>
              <p class="text-center text-muted small fs-6">
                Nhập tài khoản và mật khẩu của bạn
              </p>
            </div>

            <form>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Tài khoản"
                  required=""
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Mật khẩu"
                  required=""
                />
              </div>
              <button
                type="button"
                class="btn btn-primary btn-block mt-3 w-100"
              >
                Đăng nhập
              </button>
              <div class="col-12 py-4">
                <p class="small mb-0">
                  Quên mật khẩu?
                  <a href="./forget-password">Lấy lại mật khẩu mới</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
