<div class="modal-header">
  <h4 class="modal-title pull-left">Cập nhật thành phố</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name" class="form-label">Tên thành phố</label>
      <input
        id="id"
        type="hidden"
        formControlName="id"
      />
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        [ngClass]="{ 'is-invalid': form?.hasError('name') }"
      />
      <div class="invalid-feedback" *ngIf="form.hasErrorOf('name', 'required')">
        Tên của thành phố không được để trống
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="form-label">Trạng thái</label>
      <input
        type="text"
        id="status"
        class="form-control"
        formControlName="status"
        [ngClass]="{ 'is-invalid': form?.hasError('status') }"
      />
      <div
        class="invalid-feedback"
        *ngIf="form.hasErrorOf('status', 'required')"
      >
        Tên của thành phố không được để trống
      </div>
    </div>
    <!-- </div> -->
    <div *ngIf="hasError$ | async" class="alert alert-danger">
      Form không hợp lệ! Hãy kiểm tra lại
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="bsModalRef.hide()"
  >
    Thoát
  </button>
  <button type="button" class="btn btn-primary" (click)="submit$.next(form)">
    Lưu
  </button>
</div>
