<div class="container py-4" *rxLet="vm$ as vm">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-8">
        <div class="card mb-3">
          <div class="bg-white card-header d-flex justify-content-between py-3">
            <span>Chọn loại câu hỏi</span>
          </div>
          <div class="card-body">
            <div
              class="d-flex flex-wrap"
              *ngIf="questItemTypeIds | async as qt"
            >
              <div *ngFor="let item of qt; index as i" class="row">
                <div class="form-check me-4">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="questItemTypeId"
                    id="{{ qt[i].id }}"
                    formControlName="questItemTypeId"
                    [value]="qt[i].id"
                    (click)="toggleIsType$.next(qt[i].id)"
                  />
                  <label class="form-check-label" for="{{ qt[i].id }}">
                    {{ qt[i].name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header bg-white py-3">Thông tin chung</div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label class="form-label" for="content">Nội dung câu hỏi</label>
              <textarea
                class="form-control"
                placeholder="Nhập nội dung câu hỏi"
                id="content"
                rows="2"
                formControlName="content"
                [ngClass]="{ 'is-invalid': form.hasError('content') }"
              ></textarea>
              <div
                class="invalid-feedback"
                *ngIf="form?.hasErrorOf('content', 'required')"
              >
                Nội dung câu hỏi bắt buộc
              </div>
              <small
                id="content"
                class="form-text text-muted"
                *ngIf="form?.hasValue('content')"
                >Dùng | để phân cách nếu thêm nội dung câu hỏi tiếng anh
              </small>
            </div>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              (click)="toggleDescription$.next()"
            >
              Mô tả
            </button>
            <div class="mt-3" *ngIf="vm.showQuestDescription">
              <div class="mt-3">
                <quill-editor
                  [styles]="{ height: '200px' }"
                  formControlName="description"
                  placeholder="Dùng | để phân cách nếu thêm tên tiếng anh"
                ></quill-editor>
                <small
                  id="description"
                  class="form-text text-muted"
                  *ngIf="form?.hasValue('description')"
                  >Dùng | để phân cách nếu thêm mô tả tiếng anh
                </small>
              </div>
            </div>
            <div class="row mb-3 mt-3">
              <div class="col" *ngIf="!vm.showTypeQuestsion">
                <div class="form-group">
                  <label class="form-label" for="rightAnswer"
                    >Câu trả lời</label
                  >
                  <textarea
                    class="form-control"
                    placeholder="Nhập nội dung câu trả lời"
                    id="rightAnswer"
                    formControlName="rightAnswer"
                  ></textarea>
                </div>
              </div>
              <div class="card-body" *ngIf="vm.showTypeQuestsion">
                <div class="d-flex bg-white border-bottom-0 mb-3 p-0 px-0">
                  <div>Ảnh</div>
                  <div class="flex-fill"></div>
                </div>
                <div
                  class="border rounded text-center"
                  style="border-style: dashed !important"
                >
                  <div
                    class="custom-dropzone"
                    style="border: none; height: 150px"
                    ngx-dropzone
                    [accept]="'image/*'"
                    (change)="selectedFile$.next($event.addedFiles)"
                  >
                    <div
                      *ngIf="listImages.length !=0"
                      style="
                        display: flex;
                        justify-content: center;
                        color: #333;
                        cursor: pointer;
                      "
                    >
                      <div class="wrapper" style="background-color: #000">
                        <div
                          class="content"
                          *ngFor="let image of listImages; let i = index"
                        >
                          <img
                            style="width: 105px; height: 140px"
                            class="me-2 d-block"
                            
                            [src]="image"
                          />
                          <a
                            style="
                              font-size: 20px;
                              position: absolute;
                              top: 1px;
                              right: 12px;
                              cursor: pointer;
                            "
                            (click)="removeImage(image)"
                          >
                            <i
                              class="bi bi-x-circle-fill"
                              style="color: #fff"
                            ></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <ngx-dropzone-label *ngIf="listImages.length <= 0">
                      <div>
                        <i class="bi bi-plus"></i>
                        <span>kéo và thả hình ảnh ở đây hoặc</span>
                        <span
                          class="ms-1 text-decoration-underline text-primary"
                        >
                          tải lên từ máy tính của bạn</span
                        >
                      </div>
                    </ngx-dropzone-label>

                    <ngx-dropzone-image-preview
                      ngProjectAs="ngx-dropzone-preview"
                      *ngFor="let f of vm.image"
                      [file]="f"
                      [removable]="true"
                      (removed)="removedFiles$.next(f)"
                    >
                    </ngx-dropzone-image-preview>
                  </div>
                </div>
                <!-- <input type="hidden" formControlName="listImages"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-3">
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="locationId" class="form-label">Chọn đia điểm</label>
              <ng-select
                [items]="locationIds | async"
                bindValue="id"
                bindLabel="value"
                class="header-p-0"
                formControlName="locationId"
                [ngClass]="{ 'is-invalid': form?.hasError('locationId') }"
              >
                <ng-template ng-header-tmp>
                  <button
                    class="btn btn-default btn-sm rounded-0 text-center w-100"
                    (click)="showAddLocation()"
                  >
                    <i class="bi bi-plus-circle"></i>
                    Thêm địa điểm
                  </button>
                </ng-template>
              </ng-select>
              <div
                class="invalid-feedback"
                *ngIf="form?.hasErrorOf('locationId', 'required')"
              >
                Địa điểm bắt buộc
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <label for="status" class="form-label">Trạng thái</label>
            <ng-select
              [items]="status"
              bindValue="value"
              bindLabel="value"
              placeholder="Chọn trạng thái"
              [clearable]="false"
              formControlName="status"
              [ngClass]="{ 'is-invalid': form?.hasError('status') }"
            ></ng-select>
            <div
              class="invalid-feedback"
              *ngIf="form.hasErrorOf('status', 'required')"
            >
              Vui lòng chọn trạng thái
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-primary mt-3 me-3"
          (click)="submit$.next({form,redirect:true})"
        >
          Cập nhật
        </button>
        <a routerLink="../../" class="btn btn-outline-primary mt-3">Thoát</a>
      </div>
    </div>
  </form>
</div>
