 <div class="p-3">
        <div class="d-flex align-items-center justify-content-between mb-3">
        
          <div class="flex-fill"></div>
        
          <a routerLink="./create" type="button" class="btn btn-primary">
            <i class="bi bi-plus"></i> Thêm quest
          </a>
        </div>
      
        <div class="p-3 rounded bg-white">
          <form>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="input-group me-3">
              <span class="input-group-text bg-white" id="search-icon"
                ><i class="bi bi-search"></i
              ></span>
              <input
                type="text"
                class="border-start-0 form-control"
                placeholder="Tìm kiếm theo tên mô tả quest"
                aria-label="Search product"
                aria-describedby="search-icon"
                
               
              />
                </div>
            <!-- <ng-select
              [items]="categories$ | async"
              bindValue="id"
              bindLabel="value"
              [closeOnSelect]="true"
              [multiple]="true"
              placeholder="Categories"
              style="min-width: 200px"
              class="me-3"
              formControlName="categories"
            ></ng-select> -->
      
            <div class="btn-group">
              <button type="button" class="btn btn-primary" style="min-width: 100px"
              >
                <i class="bi bi-search"></i>
                Search
              </button>
              <button type="button" class="btn btn-default" style="min-width: 100px"
              >
                <i class="bi bi-x-lg"></i>
                Clear
              </button>
            </div>
          </div>
        </form>
          <div class="border overflow-hidden rounded shadow-sm" style="max-width: calc(100vw -230px - 2rem);">
          <div class="border overflow-hidden rounded shadow-sm">
            <ngx-datatable
              class="material rounded"
              [rows]="records"
              [columns]="columns"
              columnMode="force"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="50"
              [externalSorting]="true"
              [externalPaging]="true"
              [count]="50"
              [offset]="1"
              [limit]="10"
            >
            <ngx-datatable-column name="S No.">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                {{rowIndex+1}}
              </ng-template>
            </ngx-datatable-column>
            <!-- [loadingIndicator]="(loading$ | async)===true" -->
            </ngx-datatable>
          </div>
        </div>
      </div>
      
      <ng-template #colCreatedAt let-value="value">
        {{ value | date: "dd/MM/yyyy" }}
      </ng-template>
      <ng-template #colCreatedAt let-value="value">
        {{ value | date: "dd/MM/yyyy" }}
      </ng-template>
