<div class="pt-3">
  <div class="d-flex align-items-center justify-content-between mb-3 px-3">
    <div class="flex-fill"></div>
    <a routerLink="./create" class="btn btn-primary" style="min-width: 120px">
      <i class="bi bi-plus"></i> Thêm Quest
    </a>
  </div>
  <div class="bg-white m-3 p-3 rounded">
    <div class="rounded bg-white">
      <form class="mb-4" [formGroup]="searchForm">
        <div class="d-flex">
          <div class="input-group me-3">
            <span
              class="input-group-text bg-white border-end-0"
              id="search-icon"
              ><i class="bi bi-search"></i
            ></span>
            <input
              type="text"
              class="border-start-0 form-control outline-none"
              placeholder="Tìm kiếm khu vực"
              aria-label="Tìm kiếm khu vực"
              aria-describedby="search-icon"
              formControlName="keyword"
              (keyup.enter)="search$.next(searchForm.value)"
            />
          </div>
          <ng-select
            [items]="questTypeIds | async"
            bindValue="id"
            bindLabel="value"
            placeholder="Chọn loại quest"
            [clearable]="false"
            [closeOnSelect]="true"
            style="min-width: 200px"
            class="me-3"
            formControlName="questTypeIds"
          ></ng-select>
          <!-- <ng-select
            [items]="cityIds$ | async"
            bindValue="id"
            bindLabel="value"
            [closeOnSelect]="true"
            style="min-width: 200px"
            placeholder="Thành phố"
            class="me-3"
            formControlName="cityIds"
          ></ng-select> -->
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-primary"
              style="min-width: 120px"
              (click)="submitSearch$.next(searchForm.value)"
            >
              <i class="bi bi-search"></i>
              Tìm kiếm
            </button>
            <button
              type="button"
              class="btn btn-default"
              style="min-width: 100px"
              (click)="resetSearch$.next()"
            >
              <i class="bi bi-x-lg"></i>
              Reset
            </button>
          </div>
        </div>
      </form>
      <!-- table -->

      <div class="border overflow-hidden rouded shadow-sm">
        <ngx-datatable
          class="material rounded"
          [rows]="areas$ | async"
          [columns]="columns"
          columnMode="force"
          [headerHeight]="50"
          [loadingIndicator]="(loading$ | async) === true"
          [footerHeight]="50"
          [rowHeight]="50"
          [externalPaging]="true"
          [externalSorting]="true"
          [messages]="{emptyMessage: 'Không có quest để hiển thị!', totalMessage: 'quest'}"
          [count]="(metadata$ | async)?.totalCount || 0"
          [offset]="((metadata$ | async)?.currentPage || 0) - 1"
          [limit]="10"
          (page)="onPage($event)"
          (sort)="onSort($event)"
          (activate)="onActivate($event)"
        >
        </ngx-datatable>
      </div>
    </div>
    <ng-template #colCreatedAt let-value="value">
      {{ value | date: "dd/MM/yyyy" }}
    </ng-template>
    <ng-template
      #edit
      let-row="row"
      let-expanded="expanded"
      ngx-datatable-cell-template
    >
      <div class="text-left">
        <a title="Edit" class="mr-2" href="javascript:void(0);">Edit</a>
        <a title="Delete" href="javascript:void(0);">Delete</a>
      </div>
    </ng-template>
  </div>
</div>