<div class="modal-header">
  <h5 class="modal-title pull-left">{{ type }} {{ title }}</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group" [ngClass]="{ col: !simpleForm }">
      <input id="id" type="hidden" formControlName="id" />
      <label for="name" class="form-label">Tên {{ title }} </label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        [ngClass]="{ 'is-invalid': form.hasError('name') }"
      />
      <div class="invalid-feedback" *ngIf="form.hasErrorOf('name', 'required')">
        Tên khu vực bắt buộc
      </div>
      <ng-container>
        <div
          class="invalid-feedback"
          *ngIf="name?.errors?.['nameAlreadyExists']"
        >
          Tên khu vực đã tồn tại!
        </div>
      </ng-container>
    </div>
    <div
      class="form-group"
      [ngClass]="{ col: !simpleForm }"
      *ngIf="!simpleForm"
    >
      <label for="status" class="form-label">Trạng thái</label>
      <ng-select
        [items]="status"
        bindValue="value"
        bindLabel="id"
        placeholder="Chọn trạng thái"
        [clearable]="false"
        formControlName="status"
        [ngClass]="{ 'is-invalid': form.hasError('status') }"
      ></ng-select>
      <div
        class="invalid-feedback"
        *ngIf="form.hasErrorOf('status', 'required')"
      >
        Trạng thái bắt buộc
      </div>
      <div
        class="form-group mt-2 mb-2"
        [ngClass]="{ col: !simpleForm }"
        *ngIf="!simpleForm"
      >
        Chọn thành phố
        <ng-select
          [items]="cityIds$ | async"
          bindValue="id"
          bindLabel="value"
          style="min-width: 200px"
          placeholder="Thành phố"
          formControlName="cityId"
          [ngClass]="{ 'is-invalid': form.hasError('cityId') }"
        ></ng-select>
      </div>
      <div
        class="invalid-feedback"
        *ngIf="form.hasErrorOf('cityId', 'required')"
      >
        Thành phố bắt buộc
      </div>
    </div>

    <div
      *ngIf="hasError$ | async"
      class="d-block p-2 bg-danger text-white p-2 mb-2 mt-3 text-center"
    >
      Giá trị nhập không hợp lệ! Hãy kiểm tra lại
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="bsModalRef.hide()"
  >
    Thoát
  </button>
  <button
    type="button"
    class="btn btn-primary custom"
    [disabled]="submitting$ | async"
    (click)="submit$.next(form)"
  >
    {{ (submitting$ | async) ? "Lưu ..." : "Lưu" }}
  </button>
</div>
