<div class="modal-header">
  <h5 class="modal-title pull-left">{{ type }} {{ title }}</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body" *rxLet="vm$ as vm">
  <form [formGroup]="form">
    <div class="form-group" [ngClass]="{ col: !simpleForm }">
      <input id="id" type="hidden" formControlName="id" />
      <label for="name" class="form-label">Tên {{ title }} </label>
      <input
        id="name"
        type="text"
        class="form-control"
        formControlName="name"
        [ngClass]="{ 'is-invalid': form.hasError('name') }"
      />
      <div class="invalid-feedback" *ngIf="form.hasErrorOf('name', 'required')">
        Tên loại quest bắt buộc
      </div>
      <small id="name" class="form-text text-muted" *ngIf="name > 0"
        >Dùng | để phân cách nếu thêm tên tiếng anh
      </small>
    </div>
    <div
      class="form-group"
      [ngClass]="{ col: !simpleForm }"
      *ngIf="!simpleForm"
    >
      <label for="status" class="form-label">Trạng thái</label>
      <ng-select
        [items]="status"
        bindValue="value"
        bindLabel="id"
        placeholder="Chọn trạng thái"
        [clearable]="false"
        formControlName="status"
        [ngClass]="{ 'is-invalid': form.hasError('status') }"
      ></ng-select>
      <div
        class="invalid-feedback"
        *ngIf="form.hasErrorOf('status', 'required')"
      >
      Trạng thái bắt buộc
      </div>
    </div>
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <div class="bg-white border-bottom-0 card-header mb-3 p-0 px-0">
          Ảnh
        </div>
        <div class="border rounded text-center">
          <div
          class="custom-dropzone"
          style="border: none; height: 150px"
          ngx-dropzone
          [accept]="'image/*'"
          [multiple]="false"
          (change)="selectedFile$.next($event.addedFiles)"
        >
          <div
            *ngIf="img"
            style="
              display: flex;
              justify-content: center;
              color: #333;
              cursor: pointer;
            "
          >
            <img style="width: 140px; height: 140px" [src]="img" />
          </div>
          <ngx-dropzone-label *ngIf="!img">
            <div>
              <i class="bi bi-plus"></i>
              <span>kéo và thả hình ảnh ở đây hoặc</span>
              <span class="ms-1 text-decoration-underline text-primary">
                tải lên từ máy tính của bạn</span
              >
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of vm.files"
            [file]="f"
            [removable]="true"
            (removed)="removedFiles$.next(f)"
          >
          </ngx-dropzone-image-preview>
        </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="hasError$ | async"
      class="d-block p-2 bg-danger text-white p-2 mb-2 mt-3 text-center"
    >
      Giá trị nhập không hợp lệ! 
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="bsModalRef.hide()"
  >
    Thoát
  </button>
  <button
    type="button"
    class="btn btn-primary custom"
    [disabled]="submitting$ | async"
    (click)="submit$.next({form})"
  >
    {{ (submitting$ | async) ? "Lưu ..." : "Lưu" }}
  </button>
</div>
