<div class="container py-3" *rxLet="vm$ as vm">
  <div class="row">
    <div class="col-8">
      <div class="card mb-3">
        <div
          class="bg-white card-header d-flex justify-content-between py-2 shadow-sm"
        >
          <span>Product types</span>
          <span>Setup</span>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div class="form-check me-5">
              <input
                class="form-check-input"
                type="radio"
                name="productType"
                id="normalProduct"
              />
              <label
                class="form-label"
                class="form-check-label"
                for="normalProduct"
              >
                Normal product
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="productType"
                id="expiryProduct1"
              />
              <label
                class="form-label"
                class="form-check-label"
                for="expiryProduct1"
              >
                Expiry product
              </label>
            </div>
          </div>
        </div>
        <!-- product type -->
      </div>
      <div class="card mb-3">
        <div class="card-header bg-white py-3">Thông tin chung</div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label class="form-label" for="productName">Product name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter product name"
            />
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="sku">SKU</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-group mb-3">
                <label class="form-label" for="weight">Weight</label>
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="Weight" />
                  <!-- <select class="form-control" style="max-width: 60px;">
                    <option value="g">g</option>
                    <option value="kg">kg</option>
                  </select> -->
                  <ng-select class="weight-options" [clearable]="false" [items]="['g','kg']" style="width: 60px;"></ng-select>
                  <!-- <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Weight
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">g</a></li>
                    <li><a class="dropdown-item" href="#">kg</a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="barcode">Barcode</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="unit">Unit</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-primary" (click)="toggleDescription$.next()"> 
            Product Description
          </button>
          <div class="mt-3" *ngIf="vm.showProductDescription">
            <!-- <quill-editor></quill-editor> -->
            <quill-editor [styles]="{height:'200px'}"> 
            </quill-editor>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header bg-white py-3">Pricing</div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="salePrice">Sale price</label>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-label" for="whosalePrice"
                  >Wholesale price</label
                >
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col col-6">
              <div class="form-group">
                <label class="form-label" for="importPrice">Import price</label>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pricing -->
      <div class="card mb-3">
        <div class="card-body">
          <div class="bg-white border-bottom-0 card-header mb-3 p-0 px-0">
            Image
          </div>
          <div
            class="border p-3 py-4 rounded text-center"
            style="border-style: dashed !important"
          >
            <div>
              <i class="bi bi-plus"></i>
              <span>drag and drop images here or</span>
              <a class="ms-1" href="#">upload from your computer</a>
            </div>
          </div>
        </div>
      </div>
      <!-- images -->
      <div class="card mb-3">
        <div class="card-header bg-white py-3">
          <div class="d-flex">
            <span style="min-height: 1.5rem" class="me-3">Inventory</span>
            <div class="form-check form-switch mb-0">
              <input
                class="form-check-input"
                type="checkbox"
                id="inventory"
                role="switch"
              />
              <label class="form-check-label" for="inventory"></label>
            </div>
          </div>
          <div class="fw-normal mt-3">
            Initializing inventory and import price at branches
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-3" style="font-weight: 500">
            <div class="col align-self-center">Branch</div>
            <div class="col">Init qty</div>
            <div class="col">Import price</div>
          </div>
          <div class="row mb-3">
            <div class="col">Default branch</div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- inventory -->
    </div>
    <!-- left col -->
    <div class="col-4">
      <div class="card mb-3">
        <div class="card-header bg-white py-3">Thông tin bổ sung</div>
        <div class="card-body">
          <div class="form-group mb-3">
            <label for="category" class="form-label">Loại sản phẩm</label>
            <ng-select [items]="[1, 2, 3, 4, 5, 6]"></ng-select>
          </div>
          <div class="form-group mb-3">
            <label for="brand" class="form-label">Nhãn hiệu</label>
            <ng-select [items]="[1, 2, 3, 4, 5, 6]"></ng-select>
          </div>
          <div class="form-group mb-3">
            <label for="brand" class="form-label">Tags</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
      </div>
      <!-- additional info -->
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex align-items-end justify-content-between">
            <div>
              <strong>Status</strong>
              <div>Able to sell</div>
            </div>
            <div class="form-check form-switch mb-0">
              <input
                class="form-check-input"
                type="checkbox"
                id="sellable"
                role="switch"
              />
              <label class="form-check-label" for="sellable"></label>
            </div>
          </div>
          <hr>
          <div class="d-flex align-items-end justify-content-between">
            <div>
              <strong>Tax</strong>
              <div>Apply Tax</div>
            </div>
            <div class="form-check form-switch mb-0">
              <input
                class="form-check-input"
                type="checkbox"
                id="sellable"
                role="switch"
              />
              <label class="form-check-label" for="sellable"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right col -->
  </div>
</div>
