<div class="container">
  <div class="row py-3 px-5">
    <div class="col-md-3">
      <div
        class="shadow stati wet_asphalt d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-bar-chart-line"></i>
        <div>
          <span class="fw-bold fs-5">Tổng doanh thu</span>
          <span>100.000.000 vnđ</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="shadow stati wet_asphalt d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-journal-album"></i>
        <div>
          <span class="fw-bold fs-5">Tổng Quest</span>
          <span>10</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div
        class="shadow stati bg-wet_asphalt d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-people-fill"></i>
        <div>
          <span class="fw-bold fs-5">Tổng người dùng</span>
          <span>100</span>
        </div>
      </div>
    </div>
  </div>
</div>
